info:
  version: 1.0.0
  description: UDR initial local configuration (https://github.com/free5gc/free5gc/blob/main/config/udrcfg.yaml)

configuration:
  sbi: # Service-based interface information
    scheme: {{ scheme }}
    registerIPv4: {{ udr_ip_address }}
    bindingIPv4: 0.0.0.0
    port: {{ udr_sbi_port }}
  mongodb:
    name: {{ default_database_name }}
    url: {{ default_database_url }}
  nrfUri: {{ nrf_url }}

# the kind of log output
# debugLevel: how detailed to output, value: trace, debug, info, warn, error, fatal, panic
# ReportCaller: enable the caller report or not, value: true or false
logger:
  UDR:
    debugLevel: info
    ReportCaller: false
